include CHANGELOG.txt
include INSTALL.txt
include LICENSE.txt
include MANIFEST.in
include README.rst
recursive-include docs *
recursive-include tagging_ext/fixtures *.json
recursive-include tagging_ext/media/tagging_ext *.css
recursive-include tagging_ext/templates/pinax *.html
recursive-include tagging_ext/templates/pinax_tagging_ext *.html
recursive-include tagging_ext/templates/tagging_ext *.html