{% load threadedcommentstags %}

<div class="thumb-row clearfix">
{% for photo in results %}
        <div class="gallery-photo-thumb">
            <a href="/photos/details/{{ photo.id }}/"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a><br />
            from <a href="{% url profile_detail photo.member.username %}">{{ photo.member.username }}</a><br />
            <img src="{{ MEDIA_URL }}pinax/images/silk/icons/comment.png" border="0" class="noborder" align="absmiddle" /><a href="/photos/details/{{ photo.id }}/">{% get_comment_count for photo as commentcount %} {{ commentcount }} Comments</a>
            <br />
            Viewed {{ photo.view_count }} Times
        </div>
{% endfor %}
</div>
